body{
    background-color: turquoise;
    text-align: center;
}
form{
    background-color:beige ;
    opacity: 0.7;
    border-radius: 30px;
    color: black;
    width: 400px;
    height:300px;
    margin-left: 450px;
    margin-top: 100px;
}